

langchain==0.2.5
langchain-core==0.2.10 
langgraph==0.1.2      

langchain-community==0.2.5
langchain-together==0.1.3 
langchain_experimental    

pymongo
sqlalchemy
python-dotenv
meilisearch
neo4j
streamlit
pandas